certifi==2020.12.5
chardet==4.0.0
docopt==0.6.2
future==0.18.2
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
Pillow==8.2.0
pipreqs==0.4.10
pyecharts==0.1.9.4
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5 ==5.12.1
PyQt5-sip==4.19.19
QDarkStyle==3.0.2
QtPy==1.9.0
requests==2.25.1
sip==6.0.3
toml==0.10.2
urllib3==1.26.4
wincertstore==0.2
yarg==0.1.9
pyinstaller==4.3
pywin32==300
setuptools==44.0.0
